<header class="parallax"></header>
<div class="divlorem">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum praesentium consequuntur qui a rem excepturi quidem, id earum molestias iure facere voluptas, harum officiis, voluptatibus veniam totam ea suscipit! Dicta.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae officiis a non possimus, assumenda mollitia. Eligendi iure dolor assumenda temporibus aliquid voluptatem ratione, officia esse, repudiandae, natus placeat reprehenderit repellendus. </p>
</div>
<div class="parallax"></div>